body {
    background:#9bacbf;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
     display:flex;
     flex-wrap:wrap;
}

.assignment {
    width:22%;
    padding:20px 10;
    margin:10px;
    background:lightgrey;
    border-radius:5px;
}

.assignment img {
    width:80%;
    margin:10px;
    border:2px solid lightgrey;
    display:block;
    margin:auto;
}

.assignment img:hover {
    border:2px solid #0020ff;
}

h1 {
    color: #380e5e;
    text-align:center;
}

h2 {
    text-align:center;
}

a {
    text-decoration:none;
    color:#0080ff;
}

a:hover {
    color:#0020ff
}