body {
    background:#9bacbf;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightgrey;
    border-radius:5px;
}

.assignment img {
    width:200px;
    margin:10px;
    border:2px solid lightgrey  ;
}

.assignment img:hover {
    border:2px solid #0020ff;
}

h1 {
    color: #380e5e;
    text-align:center;
}

a {
    text-decoration:none;
    color:#0080ff;
}

a:hover {
    color:#0020ff
}